cockroach start \
--listen-addr={{ inventory_hostname }}:26257 \
--http-addr={{ inventory_hostname }}:8080 \
--store={{ data_dir }} \
--join={{ HOST_RPC_ADDRS | join(',') }} \
--locality=region={{ region }},datacenter={{ datacenter }} \
--insecure --background